<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.swanndolia.idlemmorpg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginRegisterFirebase">
        <service
            android:name="dev.swanndolia.idlemmorpg.tools.music.BackgroundMusicService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name="dev.swanndolia.idlemmorpg.tools.activity.BootStrap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Register"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Login"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Menu"
            android:exported="true" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Inventory"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.CompareAndEquip"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Explore"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Fight"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Craft"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Smelt"
            android:exported="true" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Tinker"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Fuse"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Town"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Trade"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Profile"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Guild"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Bestiary"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.Store"
            android:exported="false" />
        <activity
            android:name="dev.swanndolia.idlemmorpg.userinterface.MarketPlace"
            android:exported="false" />
    </application>

</manifest>