<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.swanndolia.idleasciimmorpg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginRegisterFirebase">
        <service
            android:name=".tools.music.BackgroundMusicService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".interfaces.BootStrap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interfaces.Register"
            android:exported="false" />
        <activity
            android:name=".interfaces.Login"
            android:exported="false" />
        <activity
            android:name=".interfaces.Menu"
            android:exported="true" />
        <activity
            android:name=".interfaces.Inventory"
            android:exported="false" />
        <activity
            android:name=".interfaces.CompareAndEquip"
            android:exported="false" />
        <activity
            android:name=".interfaces.Explore"
            android:exported="false" />
        <activity
            android:name=".interfaces.Fight"
            android:exported="false" />
        <activity
            android:name=".interfaces.Craft"
            android:exported="false" />
        <activity
            android:name=".interfaces.Smelt"
            android:exported="true" />
        <activity
            android:name=".interfaces.Tinker"
            android:exported="false" />
        <activity
            android:name=".interfaces.Fuse"
            android:exported="false" />
        <activity
            android:name=".interfaces.Town"
            android:exported="false" />
        <activity
            android:name=".interfaces.Trade"
            android:exported="false" />
        <activity
            android:name=".interfaces.Profile"
            android:exported="false" />
        <activity
            android:name=".interfaces.Guild"
            android:exported="false" />
        <activity
            android:name=".interfaces.Bestiary"
            android:exported="false" />
        <activity
            android:name=".interfaces.Store"
            android:exported="false" />
        <activity
            android:name=".interfaces.MarketPlace"
            android:exported="false" />
    </application>

</manifest>